<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.etone.project.modules.lte.dao.AddressBookMapper">

    <insert id="saveAddressBook" parameterType="com.etone.project.core.model.QueryCriteria">
        insert into mail_list(id, name, telephone, city, company, job, school, education, remark, createTime, isShow) values
        (null, '${condition.name}', '${condition.telephone}', '${condition.city}', '${condition.company}', '${condition.job}', '${condition.school}', '${condition.education}', '${condition.remark}', now(), 1)
    </insert>

    <update id="updateAddressBook" parameterType="com.etone.project.core.model.QueryCriteria">
        update mail_list
        set name = '${condition.name}',
            telephone = '${condition.telephone}',
            city = '${condition.city}',
            company = '${condition.company}',
            job = '${condition.job}',
            school = '${condition.school}',
            education = '${condition.education}',
            remark = '${condition.remark}'
        where id = '${condition.id}'
    </update>

    <select id="queryAddressBooks" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select * from mail_list where isShow = 1
        <if test="condition.id != null and condition.id != '' and condition.id != 'null' and condition.id != 'undefined'" >
            and id = '${condition.id}'
        </if>
        <if test="condition.name != null and condition.name != '' and condition.name != 'null' and condition.name != 'undefined'" >
            and name = '${condition.name}'
        </if>
        <if test="condition.searchContent != null and condition.searchContent != '' and condition.searchContent != 'null' and condition.searchContent != 'undefined'" >
            and (name like '%${condition.searchContent}%' or telephone like '%${condition.searchContent}%')
        </if>
        order by createTime desc
    </select>

    <select id="queryAddressBookNames" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select * from mail_list where isShow = 1
        <if test="condition.name != null and condition.name != '' and condition.name != 'null' and condition.name != 'undefined'" >
            and (name like '%${condition.name}%' or telephone like '%${condition.name}%')
        </if>
        order by createTime desc
    </select>

    <update id="deleteAddressBook" parameterType="java.lang.Integer">
        update mail_list set isShow = 2 where id = #{id}
    </update>

    <update id="deleteAddressBooks" parameterType="com.etone.project.core.model.QueryCriteria">
        update mail_list set isShow = 2 where 1 = 1
        <if test="condition.searchContent != null and condition.searchContent != '' and condition.searchContent != 'null' and condition.searchContent != 'undefined'" >
            and (name like '%${condition.searchContent}%' or telephone like '%${condition.searchContent}%')
        </if>
    </update>

    <select id="countAddressBook" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.lang.Integer">
        select count(1) from mail_list where isShow = 1
        <if test="condition.name != null and condition.name != '' and condition.name != 'null' and condition.name != 'undefined'" >
            and name = '${condition.name}'
        </if>
        <if test="condition.telephone != null and condition.telephone != '' and condition.telephone != 'null' and condition.telephone != 'undefined'" >
            and telephone = '${condition.telephone}'
        </if>
    </select>
</mapper>