<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.etone.project.modules.lte.dao.LteTcyyMapper">

    <select id="queryContractDetails" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        SELECT SUM(contractAmount) contractAmount,SUM(cost) cost,SUM(workload) workload,SUM(paymentAmount) paymentAmount,SUM(invoicedAmount) invoicedAmount,SUM(thisBillingAmount) thisBillingAmount FROM trade_operation;
    </select>

    <select id="queryProjectLineDetails" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        SELECT
            projectLine,
            SUM(contractAmount) contractAmount,
            SUM(cost) cost,
            SUM(workload) workload,
            SUM(paymentAmount) paymentAmount,
            SUM(invoicedAmount) invoicedAmount,
            SUM(thisBillingAmount) thisBillingAmount
        FROM
            trade_operation
        GROUP BY
            projectLine
    </select>

    <select id="queryInvoiceByLine" resultType="java.util.HashMap">
        <![CDATA[
        SELECT
            a.projectLine,
            count(1) invoiceCount
        FROM
            (
                SELECT
                    o.projectLine,
                    (
                        o.invoicedAmount + o.thisBillingAmount
                    ) AS invoice
                FROM
                    trade_operation o
            ) a
        WHERE
            a.invoice IS NOT NULL
        AND a.invoice <> ''
        AND a.invoice <> 0
        GROUP BY
            a.projectLine
        ]]>
    </select>

    <select id="queryInvoiceByDepart" resultType="java.util.HashMap">
        <![CDATA[
        SELECT
            a.department,
            count(1) invoiceCount
        FROM
            (
                SELECT
                    o.department,
                    (
                        o.invoicedAmount + o.thisBillingAmount
                    ) AS invoice
                FROM
                    trade_operation o
            ) a
        WHERE
            a.invoice IS NOT NULL
        AND a.invoice <> ''
        AND a.invoice <> 0
        GROUP BY
            a.department
        ]]>
    </select>

    <select id="queryInvoiceByProject" resultType="java.util.HashMap">
        <![CDATA[
        SELECT
            a.projectCode,
            a.projectName
        FROM
            (
                SELECT
                    o.projectCode,
                    o.projectName,
                    (
                        o.invoicedAmount + o.thisBillingAmount
                    ) AS invoice
                FROM
                    trade_operation o
            ) a
        WHERE
            a.invoice IS NOT NULL
        AND a.invoice <> ''
        AND a.invoice <> 0
        ORDER BY
            a.invoice DESC
        ]]>
        <if test="condition.rowStart != null and condition.pageSize != null" >
            LIMIT ${condition.rowStart}, ${condition.pageSize}
        </if>
    </select>

    <select id="queryTradeOperation" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select * from trade_operation where 1=1
        <if test="condition.searchContext != null and condition.searchContext != '' and condition.searchContext != 'null' and condition.searchContext != 'undefined'" >
            and (projectCode like '%${condition.searchContext}%' or projectName like '%${condition.searchContext}%')
        </if>
    </select>

    <select id="queryProjectCodeAndName" resultType="java.lang.String">
        select projectCode from trade_operation
        union ALL
        select projectName from trade_operation
    </select>

</mapper>