<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.etone.project.modules.lte.dao.ProjectMapper">

    <select id="queryContractReview" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select * from contract_review cr where
        (exists (select 1 from reporter_employee_rel rer where rer.reporter = cr.reporter and rer.employee='${condition.employee}') or cr.reporter='${condition.employee}')
        <if test="condition.sort != null">
            ${condition.sort}
        </if>
        <if test="condition.rowStart != null and condition.pageSize != null" >
            <![CDATA[   LIMIT ${condition.rowStart}, ${condition.pageSize} ]]>
        </if>
    </select>

    <select id="queryContractReviewInfo" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select id,projectCode,projectName,reporter,contractAmount,date_format(contractTime,'%Y-%m-%d') contractTime,marketLeader,
        date_format(startTime,'%Y-%m-%d') startTime, date_format(endTime,'%Y-%m-%d') endTime from contract_review where 1=1
        <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
            <![CDATA[ and projectName like '%${condition.projectName}%' ]]>
        </if>
        <if test="condition.reporter != null and condition.reporter != '' and condition.reporter != 'null' and condition.reporter != 'undefined'" >
            <![CDATA[ and reporter like '%${condition.reporter}%' ]]>
        </if>
        order by id desc
        <if test="rowStart != null and pageSize != null" >
            <![CDATA[   LIMIT ${rowStart}, ${pageSize} ]]>
        </if>
    </select>

    <select id="countContractReview" resultType="java.lang.Integer">
        select count(1) from contract_review where 1=1
        <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null' and condition.projectCode != 'undefined'" >
            <![CDATA[ and projectCode like '%${condition.projectCode}%' ]]>
        </if>
        <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
            <![CDATA[ and projectName like '%${condition.projectName}%' ]]>
        </if>
        <if test="condition.reporter != null and condition.reporter != '' and condition.reporter != 'null' and condition.reporter != 'undefined'" >
            <![CDATA[ and reporter like '%${condition.reporter}%' ]]>
        </if>
    </select>

    <select id="queryLatestLogInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from log_info where employeeCode=#{employeeCode}
        and logTime=(select logTime from log_info where employeeCode=#{employeeCode} order by logTime desc limit 1)
    </select>

    <select id="queryEmployeeInfo" resultType="java.util.HashMap">
        select * from employee_info
    </select>

    <select id="validProjectCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from contract_review where projectCode=#{projectCode}
    </select>

    <select id="validProjectName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from contract_review where projectName=#{projectName}
    </select>

    <select id="validReporter" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from contract_review where reporter=#{reporter}
    </select>

    <select id="validEmployeeCode" parameterType="java.lang.String" resultType="java.lang.String">
        select employee from employee_info where employeeCode=#{employeeCode}
    </select>

    <select id="validEmployee" parameterType="java.lang.String" resultType="java.lang.String">
        select employeeCode from employee_info where employee=#{employee} limit 1
    </select>

    <select id="queryReporter" parameterType="java.lang.String" resultType="java.lang.String">
        select reporter from contract_review where projectName=#{projectName}
    </select>

    <select id="queryCodeAndReporter" parameterType="java.lang.String" resultType="java.util.Map">
        select projectCode, reporter from contract_review where projectName=#{projectName}
    </select>

    <select id="queryNameAndReporter" parameterType="java.lang.String" resultType="java.util.Map">
        select projectName, reporter from contract_review where projectCode=#{projectCode}
    </select>

    <insert id="saveLogInfo" parameterType="com.etone.project.core.model.QueryCriteria">
        insert into log_info(id, projectCode, projectName, reporter, employeeCode, proportion, logTime, workNature, context, createTime, employee)
        values (null,'${condition.projectCode}','${condition.projectName}','${condition.reporter}','${condition.employeeCode}','${condition.proportion}','${condition.logTime}','${condition.workNature}','${condition.context}',NOW(),'${condition.employee}')
    </insert>

    <select id="updateLogInfo">
        update log_info set
        <if test="condition.logTime != null and condition.logTime != '' and condition.logTime != 'null'" >
            logTime='${condition.logTime}',
        </if>
        projectCode= '${condition.projectCode}',
        projectName= '${condition.projectName}',
        reporter= '${condition.reporter}',
        proportion='${condition.proportion}',
        employeeCode='${condition.employeeCode}',
        employee='${condition.employee}',
        workNature='${condition.workNature}',
        <if test="condition.context != null and condition.context != '' and condition.context != 'null' and condition.context != 'undefined'" >
            context='${condition.context}'
        </if>
        <if test="condition.context == null or condition.context == '' or condition.context == 'null' or condition.context == 'undefined'" >
            context=''
        </if>
        where id='${condition.id}'
    </select>

    <select id="deleteData" parameterType="com.etone.project.core.model.QueryCriteria">
        delete from contract_review where 1=1
        <if test="condition.repeatCodes != null and condition.repeatCodes != '' and condition.repeatCodes != 'null' and condition.repeatCodes != 'undefined'" >
            and projectCode in
            (<foreach collection="condition.repeatCodes" item="item" index="index" separator="," >
                '${item}'
            </foreach>)
        </if>
    </select>

    <insert id="saveData" parameterType="com.etone.project.core.model.QueryCriteria">
        insert into contract_review (id,
        projectCode,
        projectName,
        reporter,
        contractAmount,
        contractTime,
        marketLeader,
        startTime,
        endTime
        )
        values
        <foreach collection="condition.dataList" item="item" index="index" separator=",">
            (null,
            #{item.projectCode},
            #{item.projectName},
            #{item.reporter},
            #{item.contractAmount},
            <if test="item.contractTime != null and item.contractTime != '' and item.contractTime != 'null' and item.contractTime != 'undefined'" >
                #{item.contractTime},
            </if>
            <if test="item.contractTime == null or item.contractTime == '' or item.contractTime == 'null' or item.contractTime == 'undefined'" >
                null,
            </if>
            #{item.marketLeader},
            <if test="item.startTime != null and item.startTime != '' and item.startTime != 'null' and item.startTime != 'undefined'" >
                #{item.startTime},
            </if>
            <if test="item.startTime == null or item.startTime == '' or item.startTime == 'null' or item.startTime == 'undefined'" >
                null,
            </if>
            <if test="item.endTime != null and item.endTime != '' and item.endTime != 'null' and item.endTime != 'undefined'" >
                #{item.endTime}
            </if>
            <if test="item.endTime == null or item.endTime == '' or item.endTime == 'null' or item.endTime == 'undefined'" >
                null
            </if>
            )
        </foreach>
    </insert>

    <insert id="saveLogData" parameterType="com.etone.project.core.model.QueryCriteria">
        insert into log_info (id,
        projectCode,
        projectName,
        logTime,
        reporter,
        employeeCode,
        employee,
        workNature,
        proportion,
        createTime,
        context
        )
        values
        <foreach collection="condition.dataList" item="item" index="index" separator=",">
            (null,
            #{item.projectCode},
            #{item.projectName},
            <if test="item.logTime != null and item.logTime != '' and item.logTime != 'null' and item.logTime != 'undefined'" >
                #{item.logTime},
            </if>
            <if test="item.logTime == null or item.logTime == '' or item.logTime == 'null' or item.logTime == 'undefined'" >
                null,
            </if>
            #{item.reporter},
            #{item.employeeCode},
            #{item.employee},
            #{item.workNature},
            #{item.proportion},
            NOW(),
            #{item.context}
            )
        </foreach>
    </insert>

    <select id="queryLogInfo" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        SELECT
            i.id,
            i.projectCode,
            i.projectName,
            date_format(i.logTime,'%Y-%m-%d') logTime,
            i.proportion,
            i.reporter,
            i.employeeCode,
            i.employee,
            i.workNature,
            context
        FROM
          log_info i where 1=1
        <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null'" >
            <![CDATA[ and i.projectCode='${condition.projectCode}' ]]>
        </if>
        <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
            <![CDATA[ and i.projectName like '%${condition.projectName}%' ]]>
        </if>
        <if test="condition.employeeCode != null and condition.employeeCode != '' and condition.employeeCode != 'null' and condition.employeeCode != 'undefined'" >
            <![CDATA[ and i.employeeCode='${condition.employeeCode}' ]]>
        </if>
        <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
            <![CDATA[ and i.employee like '%${condition.employee}%' ]]>
        </if>
        <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null' and condition.startDate != 'undefined'" >
            <![CDATA[ and i.logTime >= '${condition.startDate}' ]]>
        </if>
        <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null' and condition.endDate != 'undefined'" >
            <![CDATA[ and i.logTime <= '${condition.endDate}' ]]>
        </if>
        <if test="rowStart == null and pageSize == null and condition.employeeCode == ''" >
            <![CDATA[ and 1<>1 ]]>
        </if>
        order by i.logTime desc,i.id desc
        <if test="rowStart != null and pageSize != null" >
            <![CDATA[   LIMIT ${rowStart}, ${pageSize} ]]>
        </if>
    </select>

    <select id="countLogInfo" resultType="java.lang.Integer">
        select count(1) from log_info i where 1=1
        <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null'" >
            <![CDATA[ and i.projectCode like '%${condition.projectCode}%' ]]>
        </if>
        <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
            <![CDATA[ and i.projectName like '%${condition.projectName}%' ]]>
        </if>
        <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
            <![CDATA[ and i.employee like '%${condition.employee}%' ]]>
        </if>
        <if test="condition.employeeCode != null and condition.employeeCode != '' and condition.employeeCode != 'null' and condition.employeeCode != 'undefined'" >
            <![CDATA[ and i.employeeCode = '${condition.employeeCode}' ]]>
        </if>
        <if test="condition.logTime != null and condition.logTime != '' and condition.logTime != 'null' and condition.logTime != 'undefined'" >
            <![CDATA[ and i.logTime = '${condition.logTime}' ]]>
        </if>
        <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null' and condition.startDate != 'undefined'" >
            <![CDATA[ and i.logTime >= '${condition.startDate}' ]]>
        </if>
        <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null' and condition.endDate != 'undefined'" >
            <![CDATA[ and i.logTime <= '${condition.endDate}' ]]>
        </if>
    </select>

    <select id="exportLogList" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.LinkedHashMap">
        SELECT
            i.projectCode 项目编码,
            i.projectName 项目名称,
            date_format(i.logTime,'%Y-%m-%d') 日志时间,
            i.proportion 项目占比,
            i.reporter 项目经理,
            i.employeeCode 员工工号,
            i.employee 员工姓名,
            i.workNature 工作性质,
            i.context 日志内容
        FROM
          log_info i
        WHERE
        1 = 1
        <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
            <![CDATA[ and i.projectName like '%${condition.projectName}%' ]]>
        </if>
        <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
            <![CDATA[ and i.employee like '%${condition.employee}%' ]]>
        </if>
        <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null' and condition.startDate != 'undefined'" >
            <![CDATA[ and i.logTime >= '${condition.startDate}' ]]>
        </if>
        <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null' and condition.endDate != 'undefined'" >
            <![CDATA[ and i.logTime <= '${condition.endDate}' ]]>
        </if>
        <if test="condition.id != null and condition.id != '' and condition.id != 'null' and condition.id != 'undefined'" >
            and i.id in
            (<foreach collection="condition.id" item="item" index="index" separator="," >
                '${item}'
            </foreach>)
        </if>
        order by i.logTime desc,i.id desc
    </select>

    <select id="exportContractReviewList" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.LinkedHashMap">
        SELECT
        r.projectCode 项目编码,
        r.projectName 项目名称,
        r.reporter 项目经理,
        r.contractAmount 合同签订金额,
        date_format(r.contractTime,'%Y-%m-%d') 合同签订时间,
        r.marketLeader 市场负责人,
        date_format(r.startTime,'%Y-%m-%d') 项目开始时间,
        date_format(r.endTime,'%Y-%m-%d') 项目结束时间
        FROM
        contract_review r
        WHERE
        1 = 1
        <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
            <![CDATA[ and r.projectName like '%${condition.projectName}%' ]]>
        </if>
        <if test="condition.reporter != null and condition.reporter != '' and condition.reporter != 'null' and condition.reporter != 'undefined'" >
            <![CDATA[ and r.reporter like '%${condition.reporter}%' ]]>
        </if>
        <if test="condition.id != null and condition.id != '' and condition.id != 'null' and condition.id != 'undefined'" >
            and r.id in
            (<foreach collection="condition.id" item="item" index="index" separator="," >
            '${item}'
        </foreach>)
        </if>
        order by id desc
    </select>

    <select id="queryEmptyWorkLog" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select u.employeeCode, u.employee, '${condition.remark}' remark, '${condition.notLogCount}' notLogCount, '${condition.workDate}' workDate from employee_info u
        where not exists (SELECT 1 from log_info i where i.employeeCode=u.employeeCode
            <![CDATA[ and i.logTime >= '${condition.startDate}' ]]>
            <![CDATA[ and i.logTime <= '${condition.endDate}' ]]>
        )
        and not exists (select 1 from high_employee_info h where h.employeeCode=u.employeeCode)
        <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
            <![CDATA[ and u.employee like '%${condition.employee}%' ]]>
        </if>
        <if test="condition.employeeCodeList != null and condition.employeeCodeList != '' and condition.employeeCodeList != 'null' and condition.employeeCodeList != 'undefined'" >
            and u.employeeCode in
            (<foreach collection="condition.employeeCodeList" item="item" index="index" separator="," >
                '${item}'
            </foreach>)
        </if>
        <if test="condition.isStaff != null and condition.isStaff != '' and condition.isStaff != 'null' and condition.isStaff != 'undefined'" >
            and exists (select 1 from manager_employee_rel r where r.employeeCode=u.employeeCode and r.managerCode='${condition.employeeCode}')
        </if>
        ORDER BY u.employee
    </select>

    <select id="queryNotAllWorkLog" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        select i.employeeCode,
                i.employee,
                group_concat(distinct cast(date_format(i.logTime,'%Y-%m-%d') as char) order by cast(date_format(i.logTime,'%Y-%m-%d') as char)) logTimes,
                group_concat(distinct cast(date_format(i.createTime,'%Y-%m-%d') as char) order by cast(date_format(i.createTime,'%Y-%m-%d') as char)) createTimes,
                count(1) count from
        (select distinct n.employeeCode,n.employee,n.logTime,n.createTime from log_info n  where 1=1
        <![CDATA[ and n.logTime >= '${condition.startDate}' ]]>
        <![CDATA[ and n.logTime <= '${condition.endDate}' ]]>
        ) i where
            not exists (select 1 from high_employee_info h where h.employeeCode=i.employeeCode)
        <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
            <![CDATA[ and i.employee like '%${condition.employee}%' ]]>
        </if>
        <if test="condition.employeeCodeList != null and condition.employeeCodeList != '' and condition.employeeCodeList != 'null' and condition.employeeCodeList != 'undefined'" >
            and i.employeeCode in
            (<foreach collection="condition.employeeCodeList" item="item" index="index" separator="," >
                '${item}'
            </foreach>)
        </if>
        <if test="condition.isStaff != null and condition.isStaff != '' and condition.isStaff != 'null' and condition.isStaff != 'undefined'" >
            and exists (select 1 from manager_employee_rel r where r.employeeCode=i.employeeCode and r.managerCode='${condition.employeeCode}')
        </if>
        group by i.employeeCode,i.employee
        order by employee
    </select>

    <select id="queryHolidays" parameterType="java.lang.String" resultType="java.lang.String">
        select group_concat(holidayDate) from holiday_info i where i.year=#{year} and i.isMakeUpClass=2
    </select>

    <select id="queryMakeUpClassDays" parameterType="java.lang.String" resultType="java.lang.String">
        select group_concat(holidayDate) from holiday_info i where i.year=#{year} and i.isMakeUpClass=1
    </select>

    <select id="deleteProjectInfo" parameterType="java.lang.Long">
        delete from contract_review where id=#{id}
    </select>

    <select id="deleteLogInfo" parameterType="java.lang.Long">
        delete from log_info where 1=1
        <if test="condition.ids != null and condition.ids != '' and condition.ids != 'null' and condition.ids != 'undefined'" >
            and id in
            (<foreach collection="condition.ids" item="item" index="index" separator="," >
                '${item}'
            </foreach>)
        </if>
    </select>

    <insert id="saveProjectInfo" parameterType="com.etone.project.core.model.QueryCriteria">
        insert into contract_review(id, projectCode, projectName, reporter, contractAmount, contractTime, marketLeader, startTime, endTime)
        values (null,'${condition.projectCode}','${condition.projectName}','${condition.reporter}','${condition.contractAmount}',
        <if test="condition.contractTime != null and condition.contractTime != '' and condition.contractTime != 'null' and condition.contractTime != 'undefined'" >
            '${condition.contractTime}',
        </if>
        <if test="condition.contractTime == null or condition.contractTime == '' or condition.contractTime == 'null' or condition.contractTime == 'undefined'" >
            null,
        </if>
        '${condition.marketLeader}',
        <if test="condition.startTime != null and condition.startTime != '' and condition.startTime != 'null' and condition.startTime != 'undefined'" >
            '${condition.startTime}',
        </if>
        <if test="condition.startTime == null or condition.startTime == '' or condition.startTime == 'null' or condition.startTime == 'undefined'" >
            null,
        </if>
        <if test="condition.endTime != null and condition.endTime != '' and condition.endTime != 'null' and condition.endTime != 'undefined'" >
            '${condition.endTime}'
        </if>
        <if test="condition.endTime == null or condition.endTime == '' or condition.endTime == 'null' or condition.endTime == 'undefined'" >
            null
        </if>
        )
    </insert>

    <select id="updateProjectInfo">
        update contract_review set
        contractAmount='${condition.contractAmount}',
        <if test="condition.contractTime != null and condition.contractTime != '' and condition.contractTime != 'null'" >
            contractTime='${condition.contractTime}',
        </if>
        marketLeader='${condition.marketLeader}',
        <if test="condition.startTime != null and condition.startTime != '' and condition.startTime != 'null'" >
            startTime='${condition.startTime}',
        </if>
        <if test="condition.endTime != null and condition.endTime != '' and condition.endTime != 'null'" >
            endTime='${condition.endTime}',
        </if>
        projectCode= '${condition.projectCode}',
        projectName= '${condition.projectName}',
        reporter= '${condition.reporter}'
        where id='${condition.id}'
    </select>

    <select id="queryEmployeeProject" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        SELECT
            i.employeeCode,
            i.employee,
            i.projectCode,
            i.projectName,
            count(1) logCount
        FROM
            log_info i
        WHERE
            EXISTS (
                SELECT
                    1
                FROM
                    contract_review r
                WHERE
                    r.projectCode = i.projectCode
                AND r.reporter = (
                    SELECT
                        e.employee
                    FROM
                        employee_info e
                    WHERE
                        e.employeeCode = '${condition.employeeCode}'
                    LIMIT 1
                )
            )
        <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null'" >
            <![CDATA[ and date_format(i.logTime, '%Y-%m-%d')>='${condition.startDate}' ]]>
        </if>
        <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null'" >
            <![CDATA[ and date_format(i.logTime, '%Y-%m-%d')<='${condition.endDate}' ]]>
        </if>
        GROUP BY
            i.employeeCode,
            i.employee,
            i.projectCode,
            i.projectName
    </select>

    <select id="queryFinalStatisticsInfo" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.HashMap">
        SELECT
          a.*, (
            SELECT
              sum(
                substring_index(l.proportion, '小时', 1) / 7
              )
            FROM
              log_info l
            WHERE
              1 = 1
            <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null'" >
                <![CDATA[ and l.projectCode='${condition.projectCode}' ]]>
            </if>
            <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
                <![CDATA[ and l.projectName like '%${condition.projectName}%' ]]>
            </if>
            <if test="condition.employeeCode != null and condition.employeeCode != '' and condition.employeeCode != 'null' and condition.employeeCode != 'undefined'" >
                <![CDATA[ and l.employeeCode='${condition.employeeCode}' ]]>
            </if>
            <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
                <![CDATA[ and l.employee like '%${condition.employee}%' ]]>
            </if>
            <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null' and condition.startDate != 'undefined'" >
                <![CDATA[ and l.logTime >= '${condition.startDate}' ]]>
            </if>
            <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null' and condition.endDate != 'undefined'" >
                <![CDATA[ and l.logTime <= '${condition.endDate}' ]]>
            </if>
            AND l.employeeCode = a.employeeCode
          ) tempHour,
          (
            SELECT
              count(DISTINCT l.projectCode)
            FROM
              log_info l
            WHERE
              1 = 1
            <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null'" >
                <![CDATA[ and l.projectCode='${condition.projectCode}' ]]>
            </if>
            <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
                <![CDATA[ and l.projectName like '%${condition.projectName}%' ]]>
            </if>
            <if test="condition.employeeCode != null and condition.employeeCode != '' and condition.employeeCode != 'null' and condition.employeeCode != 'undefined'" >
                <![CDATA[ and l.employeeCode='${condition.employeeCode}' ]]>
            </if>
            <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
                <![CDATA[ and l.employee like '%${condition.employee}%' ]]>
            </if>
            <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null' and condition.startDate != 'undefined'" >
                <![CDATA[ and l.logTime >= '${condition.startDate}' ]]>
            </if>
            <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null' and condition.endDate != 'undefined'" >
                <![CDATA[ and l.logTime <= '${condition.endDate}' ]]>
            </if>
            AND l.employeeCode = a.employeeCode
          ) projectCount
        FROM
          (
            SELECT
              i.employeeCode,
              i.employee,
              i.reporter,
              i.projectCode,
              i.projectName,
              '' score,
              count(1) manHour,
              sum(
                substring_index(i.proportion, '小时', 1) / 7
              ) nowManHour,
              '' actualHour,
              '22' fixedWork
            FROM
              log_info i
            WHERE
              1 = 1
            <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null'" >
                <![CDATA[ and i.projectCode='${condition.projectCode}' ]]>
            </if>
            <if test="condition.projectName != null and condition.projectName != '' and condition.projectName != 'null'" >
                <![CDATA[ and i.projectName like '%${condition.projectName}%' ]]>
            </if>
            <if test="condition.employeeCode != null and condition.employeeCode != '' and condition.employeeCode != 'null' and condition.employeeCode != 'undefined'" >
                <![CDATA[ and i.employeeCode='${condition.employeeCode}' ]]>
            </if>
            <if test="condition.employee != null and condition.employee != '' and condition.employee != 'null' and condition.employee != 'undefined'" >
                <![CDATA[ and i.employee like '%${condition.employee}%' ]]>
            </if>
            <if test="condition.startDate != null and condition.startDate != '' and condition.startDate != 'null' and condition.startDate != 'undefined'" >
                <![CDATA[ and i.logTime >= '${condition.startDate}' ]]>
            </if>
            <if test="condition.endDate != null and condition.endDate != '' and condition.endDate != 'null' and condition.endDate != 'undefined'" >
                <![CDATA[ and i.logTime <= '${condition.endDate}' ]]>
            </if>
            GROUP BY
              i.employeeCode,
              i.employee,
              i.reporter,
              i.projectCode,
              i.projectName
            ORDER BY
              i.employeeCode ASC,
              count(1) DESC
          ) a
    </select>

    <select id="countRepeatLogInfo" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.lang.Integer">
        select count(1) from log_info where
          employeeCode = '${condition.employeeCode}'
          <if test="condition.projectCode != null and condition.projectCode != '' and condition.projectCode != 'null' and condition.projectCode != 'undefined'" >
              and projectCode = '${condition.projectCode}'
          </if>
          <if test="condition.logTime != null and condition.logTime != '' and condition.logTime != 'null' and condition.logTime != 'undefined'" >
            <![CDATA[ and logTime = '${condition.logTime}' ]]>
          </if>
    </select>

    <select id="queryProjectCode" resultType="java.lang.String">
        select projectCode from contract_review
    </select>

    <select id="querySumProportion" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.lang.Double">
        SELECT
            case when
            sum(
                substring_index(proportion, '小时', 1)
            ) is null then 0 else sum(
                substring_index(proportion, '小时', 1)
            ) end
        FROM
            log_info i
        WHERE
            i.employeeCode = '${condition.employeeCode}'
        AND i.logTime = '${condition.logTime}'
        AND proportion IS NOT NULL
    </select>

    <select id='validProportion' parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        SELECT
            logTime, employeeCode, employee,
            sum(substring_index(proportion, '小时', 1)) count
        FROM
            log_info i
        where 1=1
        <if test="condition.ids != null and condition.ids != '' and condition.ids != 'null' and condition.ids != 'undefined'" >
            and id in
            (<foreach collection="condition.ids" item="item" index="index" separator="," >
                '${item}'
            </foreach>)
        </if>
        group by logTime, employeeCode, employee
    </select>

    <select id="queryProjectLine" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        select lineName,count(1) count from project_line group by lineName order by count(1) desc
    </select>

    <select id="queryProjectByLine" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        select * from project_line where lineName = '${condition.lineName}'
        <if test="condition.searchData != null and condition.searchData != '' and condition.searchData != 'null' and condition.searchData != 'undefined'" >
            and (projectCode like '%${condition.searchData}%' or projectName like '%${condition.searchData}%')
        </if>
        order by projectManager, projectCode
    </select>

    <select id="queryLineNameByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select lineName from project_line where projectCode=#{projectCode}
    </select>

    <select id="queryEmployeeLog" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.util.Map">
        select
            id,
            projectCode,
            projectName,
            date_format(logTime,'%Y-%m-%d') logTime,
            proportion,
            reporter,
            employeeCode,
            employee,
            workNature,
            context
        from log_info where
        employeeCode = '${condition.employeeCode}'
        <![CDATA[ and logTime >= '${condition.startDate}' ]]>
        <![CDATA[ and logTime <= '${condition.endDate}' ]]>
        <if test="condition.type=='normal'">
            and date_format(logTime,'%Y-%m-%d') = date_format(createTime,'%Y-%m-%d')
        </if>
        <if test="condition.type=='late'">
            <![CDATA[ and date_format(logTime,'%Y-%m-%d') <> date_format(createTime,'%Y-%m-%d') ]]>
        </if>
        <if test="condition.type=='not'">
            <![CDATA[ and 1 <> 1 ]]>
        </if>
    </select>

    <select id="countRepeatEmployeeInfo" parameterType="com.etone.project.core.model.QueryCriteria" resultType="java.lang.Integer">
        select count(1) from employee_info
        where employeeCode = '${condition.employeeCode}'
        and employee = '${condition.employee}'
    </select>
</mapper>