
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p .timeline-img.pull-right {
    margin: 5px 0 0 10px;
}

#page-user-profile #tab-activity ul.list-activity > li .body .desc small.text-muted {
    font-size: 10px;
    color: #BBBBBB;
}

.progress {
    position: relative;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.progress.progress-xs {
    height: 5px;
    margin-top: 5px;
}
.progress.progress-sm {
    height: 15px;
    margin-top: 5px;
	width:150px
}
.progress.progress-lg {
    height: 25px;
}
.progress .progress-bar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #e74c3c;
}
.progress .progress-bar.progress-bar-success {
    background-color: #5cb85c !important;
}
.progress .progress-bar.progress-bar-warning {
    background-color: #f0ad4e !important;
}
.progress .progress-bar.progress-bar-info {
    background-color: #5bc0de !important;
}
.progress .progress-bar.progress-bar-danger {
    background-color: #d9534f !important;
}
.progress .progress-bar.progress-bar-red {
    background-color: #bf4346 !important;
}
.progress .progress-bar.progress-bar-myblue {
    background-color: #2a4ae4 !important;
}
.progress .progress-bar.progress-bar-green {
    background-color: #488c6c !important;
}
.progress .progress-bar.progress-bar-yellow {
    background-color: #f2994b !important;
}
.progress .progress-bar.progress-bar-blue {
    background-color: #0a819c !important;
}
.progress .progress-bar.progress-bar-violet {
    background-color: #9351ad !important;
}
.progress .progress-bar.progress-bar-pink {
    background-color: #bf3773 !important;
}
.progress .progress-bar.progress-bar-grey {
    background-color: #4b5d67 !important;
}
.progress .progress-bar.progress-bar-dark {
    background-color: #594857 !important;
}
.progress .progress-bar.progress-bar-white {
    background-color: #ffffff !important;
}
.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
.progress.wide {
    width: 60px;
    height: 150px;
}
.progress.vertical.progress-xs {
    width: 10px;
    margin-top: 0;
}
.progress.vertical.progress-sm {
    width: 20px;
    margin-top: 0;
}
.progress.vertical.progress-lg {
    width: 70px;
}